<header class="header">
  <input class="new-todo" placeholder="What needs to be done?" {{did-insert this.setInitialFocus}}
    {{on "keydown" this.createTodo}}>
</header>
<section class="main">
  {{#if this.todos.length}}
    {{#if this.canToggle}}
      <input id="toggle-all" class="toggle-all" type="checkbox" checked={{this.allCompleted}}
        {{on "change" this.toggleAll}}>
      <label for="toggle-all">Mark all as complete</label>
    {{/if}}
    <ul class="todo-list">
      {{#each this.todos as |todo|}}
        <TodoItem @todo={{todo}} @onStartEdit={{this.disableToggle}} @onEndEdit={{this.enableToggle}} />
      {{/each}}
    </ul>
  {{/if}}
</section>
{{#if (gt this.allTodos.length 0)}}
  <footer class="footer">
    <span class="todo-count"><strong>{{this.remainingTodos.length}}</strong>
      {{if (eq this.remainingTodos.length 1) "item" "items"}}
      left</span>
    <ul class="filters">
      <li>
        <LinkTo @route="index" @activeClass="selected">All</LinkTo>
      </li>
      <li>
        <LinkTo @route="active" @activeClass="selected">Active</LinkTo>
      </li>
      <li>
        <LinkTo @route="completed" @activeClass="selected">Completed</LinkTo>
      </li>
    </ul>
    {{#if this.completedTodos.length}}
      <button class="clear-completed" {{on "click" this.clearCompleted}}>Clear completed</button>
    {{/if}}
  </footer>
{{/if}}