<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      {{on "keydown" model.createTodo}}
    >
  </header>
  {{outlet}}
  {{#if (gt model.all.length 0)}}
    <footer class="footer">
      <span class="todo-count"><strong>{{model.remaining.length}}</strong> {{pluralize "item" model.remaining.length}} left</span>
      <ul class="filters">
        <li>{{#link-to "index" activeClass="selected"}}All{{/link-to}}</li>
        <li>{{#link-to "active" activeClass="selected"}}Active{{/link-to}}</li>
        <li>{{#link-to "completed" activeClass="selected"}}Completed{{/link-to}}</li>
      </ul>
      {{#if model.completed.length}}
        <button class="clear-completed" {{on "click" model.clearCompleted}}>Clear completed</button>
      {{/if}}
    </footer>
  {{/if}}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>
    Created by
    <a href="http://github.com/cibernox">Miguel Camba</a>,
    <a href="http://github.com/addyosmani">Addy Osmani</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
